@model  Clinic
@{
    ViewData["Title"] = "Klinikler";
    ViewData["Description"] = "Klinikleri Düzenle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3>
                    <button class="btn btn-app" data-toggle="modal" data-target="#modal-create">
                        <span class="badge bg-green">Yeni ekle</span>
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-app" data-toggle="modal" data-target="#modal-edit">
                        <span class="badge bg-yellow">Düzenle</span>
                        <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-app" data-toggle="modal" data-target="#modal-delete">
                        <span class="badge bg-red">Sil</span>
                        <i class="fa fa-trash"></i>
                    </button>
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table" id="table" style="overflow-y:auto; max-height:100vh;">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Klinik Adı</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-create">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Klinik Ekle</h4>
                </div>
                <div class="modal-body">
                    <form onsubmit="return false;" id="createForm">
                        <div class="form-group">
                            <input class="form-control" asp-for="Name" placeholder="Klinik Adı" />
                            <span asp-validation-for="Name" class="text-red"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="createButton" type="button" class="btn btn-primary pull-left" onclick="createClinic()">Oluştur</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="modal fade" id="modal-edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Klinik Düzenle</h4>
                </div>
                <div class="modal-body">
                    <form onsubmit="return false;" id="editForm">
                        <div class="form-group">
                            <input class="form-control" asp-for="Name" placeholder="Klinik Adı" />
                            <span asp-validation-for="Name" class="text-red"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="editButton" class="btn btn-primary pull-left">Güncelle</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="modal fade" id="modal-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Klinik Sil</h4>
                </div>
                <div class="modal-body">
                    Seçili veriler silinecek, devam etmek istiyor musunuz?
                </div>
                <div class="modal-footer">
                    <button type="button" id="deleteButton" class="btn btn-danger pull-left">Sil</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

@section Scripts{
    <script>

        var dt = $('#table').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
            },
            serverSide: false,
            orderMulti: false,
            "lengthMenu": [[30, 100, 250, -1], [30, 100, 250, "All"]],

            ajax: {
                type: "get",
                url: "/api/GetClinics",
                dataSrc: "",
                datatype: "json",
                // success: function(result) {
                //     console.log(JSON.stringify(result));
                // }
            },
            "order": [2, "desc"],
            "select": {
                style: "os",
                selector: 'td:first-child'
            },
            "columnDefs":
                [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                },
                {
                    "targets": [1, 2],
                    "visible": false,
                    "searchable": false,
                    "orderable": false
                },
                {
                    targets: -1,
                    className: 'text-center'
                }],
            "columns": [
                { "data": null, render: function () {  return ""}},
                { "data": "id" },
                { "data": "createdAt" },
                { "data": "name" },              
            ],
        });

        $('#modal-edit').on('show.bs.modal', function (e) {          
            var rows = dt.rows('.selected').data();
            if (rows.length > 1) {
                toastr.error("Birden fazla veriyi düzenleyemezsiniz.");
                e.preventDefault();
                return;
            } else if (rows.length == 0) {
                toastr.error("Düzenleme yapmak istediğiniz veriyi seçiniz.");
                e.preventDefault();
                return;
            }
            loadFromId(rows[0].id);
        });

        function loader(element, state) {
            if (state == true) {
                $(element).html('Lütfen bekleyin <i class="fa fa-spinner fa-spin"></i>');
                $(element).addClass("disabled");
            } else {
                $(element).html(state);
                $(element).removeClass("disabled");
            }
        }

        function loadFromId(id) {
            $.ajax({
                url: "/api/GetClinic/" + id,
                type: "get",
                success: function (data) {
                    $('#editForm input[name=Name]').val(data.name);
                    $('#editButton').off('click');
                    $('#editButton').on("click", function () { updateClinic(data.id) });
                },
                error: function (err, status) {
                    console.log(err.responseText)
                    if (status == 404) {
                        toastr.error("Aradığınız öğe bulunamadı.");
                        return;
                    }
                    toastr.error(err.responseText);
                }
            })
        }        

        function createClinic() {
            loader('#createButton', true);
            var formData = $("#createForm").serialize();
            console.log(formData);
            $.ajax({
                url: "/api/CreateClinic",
                type: "post",
                data: formData,
                success: function () { dt.ajax.reload(); toastr.success("Klinik kaydı başarıyla oluşturuldu.") },
                complete: function () {
                    $("#modal-create").modal("hide");   
                    loader('#createButton', "Oluştur");
                },
                error: function (err, status) {
                    console.log(err.responseText)
                    if (status == 404) {
                        toastr.error("Aradığınız öğe bulunamadı.");
                        return;
                    }
                    toastr.error(err.responseText);
                }
            });

        }     

        function updateClinic(id) {
            loader('#editButton', true);
            var formData = $("#editForm").serialize();
            $.ajax({
                url: "/api/UpdateClinic/"+id,
                type: "put",
                data: formData,
                success: function () { dt.ajax.reload(); toastr.success("Klinik kaydı başarıyla güncellendi.") },
                complete: function () {
                    $("#modal-edit").modal("hide");   
                    loader('#editButton', "Güncelle");
                },
                error: function (err, status) {
                    console.log(err.responseText)
                    if (status == 404) {
                        toastr.error("Aradığınız öğe bulunamadı.");
                        return;
                    }
                    toastr.error(err.responseText);
                }
            });
        }

        $('#modal-delete').on('show.bs.modal', function (e) {
            var rows = dt.rows('.selected').data();
            if (rows.length == 0) {
                toastr.error("Silme işlemi için en az 1 veriyi seçmelisiniz.");
                e.preventDefault();
                return;
            }
            var data = []
            $.each(rows, function (key, value) {
                data.push({ id: value.id });
            });
            console.log(JSON.stringify(data))           
            $('#deleteButton').on('click', function () {
                loader('#deleteButton', true);
                $.ajax({
                    url: "/api/DeleteClinic",
                    type: "delete",
                    contentType: "application/json",
                    data: JSON.stringify({ clinics: data }),
                    success: function () { dt.ajax.reload(); toastr.warning("Seçili veriler silindi.") },
                    complete: function () {
                        $("#modal-delete").modal("hide");
                        loader('#createButton', "Sil");
                    },
                    error: function (err, status) {
                        console.log(err.responseText)
                        if (status == 404) {
                            toastr.error("Aradığınız öğe bulunamadı.");
                            return;
                        }
                        toastr.error(err.responseText);
                    }
                });
            });
        });
    </script>



    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}