<div class="user-filtre">
    <div class="container" data-aos="fade-left"
         data-aos-anchor="#example-anchor"
         data-aos-offset="500"
         data-aos-duration="500">
        <a href="#" class="sign-out hvr-box-shadow-inset"><i class="fa fa-sign-out" aria-hidden="true"></i> ÇIKIŞ</a>
        <a href="#" class="profil hvr-box-shadow-inset">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            Sn. Dilan Ece Çelik
        </a>

    </div>
</div>
<div class="container">
    <div class="dropdown" data-aos="fade-up"
         data-aos-duration="3000">

        <h5>HASTANE RANDEVU ARAMA</h5>
        <form>
            <div class="input-group mb-3 il">
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>İl</option>
                    <option value="1">Ankara</option>
                    <option value="2">İzmir</option>
                    <option value="3">Adana</option>
                </select>
            </div>
            <div class="input-group mb-3 il">
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>İlçe</option>
                    <option value="1">Keçiören</option>
                    <option value="2">Çubuk</option>
                    <option value="3">Elmadağ</option>
                </select>
            </div>
            <div class="input-group mb-3 il">
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Klinik</option>
                    <option value="1">Kulak Burun Boğaz(KBB)</option>
                    <option value="2">Dahiliye</option>
                    <option value="3">Onkoloji</option>
                </select>
            </div>
            <div class="input-group mb-3 il">
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Hastane</option>
                    <option value="1">Gülhane Araştırma Hastanesi</option>
                    <option value="2">Atatürk Araştırma Hastanesi</option>
                    <option value="3">Sanatoryum Göğüs Cerrahisi Hastanesi</option>
                </select>
            </div>
            <div class="buttons">
                <button type="reset" class="reset-but hvr-round-corners">TEMİZLE</button>
                <button type="submit" class="search hvr-round-corners">RANDEVU ARA</button>
            </div>
        </form>
        <div class="data">
            <table class="table col-md-12">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Hekim</th>
                        <th scope="col">Kurum Adı</th>
                        <th scope="col">Muayene Yeri</th>
                        <th scope="col">Tarih</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="female">
                        <th class="icon col-md-offset">
                            <i class="fa fa-user-md" aria-hidden="true"></i>
                        </th>
                        <td class="doctor">
                            <span>Dilan Ece Çelik</span>
                        </td>
                        <td class="hospital">
                            Gülhane Araştırma Hastanesi
                        </td>
                        <td class="place">
                            Göz Hastalıkları Polikinliği-1
                        </td>
                        <td class="tarih">
                            <span>En Erken :20.10.2019</span>
                        </td>
                        <a href="#">
                            <td class="icon-arrow">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </td>
                        </a>
                    </tr>
                    <tr class="male">
                        <th class="icon col-md-offset">
                            <i class="fa fa-user-md" aria-hidden="true"></i>
                        </th>
                        <td class="doctor">
                            <span>Furkan Ege Çelik</span>
                        </td>
                        <td class="hospital">
                            Gülhane Araştırma Hastanesi
                        </td>
                        <td class="place">
                            Göz Hastalıkları Polikinliği-1
                        </td>
                        <td class="tarih">
                            <span>En Erken :10.70.2019</span>
                        </td>
                        <a href="#">
                            <td class="icon-arrow">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </td>
                        </a>
                    </tr>
                    <tr class="female">
                        <th class="icon col-md-offset">
                            <i class="fa fa-user-md" aria-hidden="true"></i>
                        </th>
                        <td class="doctor">
                            <span>Dilan Ece Çelik</span>
                        </td>
                        <td class="hospital">
                            Gülhane Araştırma Hastanesi
                        </td>
                        <td class="place">
                            Göz Hastalıkları Polikinliği-1
                        </td>
                        <td class="tarih">
                            <span>En Erken :20.10.2019</span>
                        </td>
                        <a href="#">
                            <td class="icon-arrow">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </td>
                        </a>
                    </tr>
                <tbody>
            </table>
        </div>

    </div>
</div>