@model User

<div class="container">
    <form method="post">
        <div class="login col-md-12 row">
            <h1 class="col-md-8" data-aos-duration="500" data-aos="fade-down">RANDEVU GİRİŞ EKRANI</h1>
            @if (ViewBag.Error != null)
            {
                <div class="col-md-8 alert alert-danger" role="alert">
                    @ViewBag.Error
                </div>
            }
            <div class="form-group col-md-8" data-aos="fade-down">
                <input class="form-control" asp-for="TCKimlikNo">
                <span asp-validation-for="TCKimlikNo" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8" data-aos="fade-down">
                <input class="form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button class="col-md-8 hvr-shutter-out-vertical hvr-round-corners" data-aos="fade-down" type="submit" asp-action="Login">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                <text href="#" class="link">Giriş Yap</text>
            </button>
            <button class="col-md-8 user hvr-shutter-in-vertical hvr-round-corners" type="button" data-aos="fade-down" formnovalidate="formnovalidate" asp-action="Register" onclick="window.location.href = '@Url.Action("Register", "Home")';">
                <i class="fa fa-user" aria-hidden="true"></i>
                <text href="#" class="link">Üye Ol</text>
            </button>

            <span class="information">Soru ve sorunlarınız için yardim masasi<a href="http://mhrs.gov.tr" class="link-mhrs">yardim@mhrs.gov.tr</a> adresimizi kullanarak bize ulaşabilirsiniz. </span>

        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
