<div class="container">
    <form>
        <div class="login col-md-12 row">
            <h1 class="col-md-8" data-aos-duration="500" data-aos="fade-down">RANDEVU GİRİŞ EKRANI</h1>

            <input class="col-md-8" data-aos="fade-down" type="text" placeholder="Tc">
            <input class="col-md-8" data-aos="fade-down" type="password" placeholder="Şifreniz">
            <button class="col-md-8 hvr-shutter-out-vertical hvr-round-corners" data-aos="fade-down" type="submit">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                <text href="#" class="link">Giriş Yap</text>
            </button>
            <button class="col-md-8 user hvr-shutter-in-vertical hvr-round-corners" data-aos="fade-down" type="submit" asp-action="Register">
                <i class="fa fa-user" aria-hidden="true"></i>
                <text href="#" class="link">Üye Ol</text>
            </button>


            <span>Soru ve sorunlarınız için yardim masasi<a href="http://mhrs.gov.tr" class="link-mhrs">yardim@mhrs.gov.tr</a> adresimizi kullanarak bize ulaşabilirsiniz. </span>

        </div>
    </form>
</div>