<div class="container">
    <form>
        <div class="start-user login col-md-12 row">
            <h1 class="col-md-8" data-aos-duration="500" data-aos="fade-down">ÜYE OL</h1>

            <input class="col-md-8" data-aos="fade-down" type="text" placeholder="Ad">
            <input class="col-md-8" data-aos="fade-down" type="text" placeholder="Soyad">
            <input class="col-md-8" data-aos="fade-down" type="text" placeholder="Tc">
            <input class="col-md-8" data-aos="fade-down" type="text" placeholder="Telefon">
            <input class="col-md-8" data-aos="fade-down" type="text" placeholder="E-Mail">
            <input class="col-md-8" data-aos="fade-down" type="password" placeholder="Şifreniz">

            <button class="col-md-8 user_2 hvr-shutter-in-vertical hvr-round-corners" data-aos="fade-down" type="submit">
                <i class="fa fa-user" aria-hidden="true"></i>
                <text class="link">Üye Ol</text>
            </button>


            <span>Soru ve sorunlarınız için yardim masasi<a href="http://mhrs.gov.tr" class="link-mhrs">yardim@mhrs.gov.tr</a> adresimizi kullanarak bize ulaşabilirsiniz. </span>

        </div>
    </form>
</div>